@model IEnumerable<ED1L3.Models.Partido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Buscar partidos por su fecha", "Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nopartido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPartido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estadio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nopartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaPartido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pais2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estadio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Nopartido }) |
            @Html.ActionLink("Details", "Details", new { id = item.Nopartido }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Nopartido })
        </td>
    </tr>
}

</table>

<h3>Cargar Json</h3>
@using (Html.BeginForm("CargaArchivo", "Partidono", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <input type="file" name="archivo" />
        <input type="submit" value="Importar" />
    </div>
}
